body {
  font-family: "Nunito Sans", sans-serif;
  color: #432818;
}

nav {
  background-color: #fff;
}

a {
  color: #432818;
  padding: 15px;
}

/* Navbar container */
.navbar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

/*Split navbar styling*/
.split-left, .split-right {
    display: flex;
    align-items: center;
}

.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-logo img {
  height: 50px;
}
