body {
  font-family: "Nunito Sans", sans-serif;
  color: #432818;
}

nav {
  background-color: #fff;
}

a {
  color: #432818;
  padding: 15px;
}

/* Navbar container */
.navbar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

/*Split navbar styling*/
.split-left, .split-right {
    display: flex;
    align-items: center;
}

.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-logo img {
  height: 50px;
}

  /*Expanding search bar*/
  .search-bar {
      padding-top: 7px;
      padding-left: 7px;
    position: relative;
    display: inline-block;
    margin: 4px 2px;
    height: 50px;
    width: 50px;
    vertical-align: bottom;
  }

  .search-button {
    position: absolute;
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .search:focus + .search-button {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
  }

  .search {
    position: absolute;
    left: 49px;
    background-color: white;
    outline: none;
      border: 2px;
    border-color: #432818;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
  }

  .search:focus {
    width: 300px;
    padding: 0 16px 0 0;
  }
