/*General page styling*/
body {
    font-family: "Nunito Sans", sans-serif;
    color: #432818;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

tr {
    column-width: 100px;
    text-align: center;
}

td, input {
    column-width: 300px;
    width: 300px;
    text-align: justify;
    border-style: none;
}

h4, label {
    text-align: center;
    margin: 20px;
}

button {
    background: #432818;
    color: #fff;
    border-style: none;
    border-radius: 5px;
}



