/*General page styling*/
body {
    font-family: "Nunito Sans", sans-serif;
    color: #432818;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

tr {
    column-width: 100px;
    text-align: center;
}

td {
    column-width: 300px;
    width: 300px;
    text-align: justify;
}

input {
    column-width: 300px;
    width: 300px;
    text-align: justify;
    border-style:hidden;
    border-color: #b4b4b4;
    border-width: 0.2px;
}

h4, label {
    text-align: center;
    margin: 20px;
}

button {
    margin-left: 100%;
    background: #432818;
    color: #fff;
    border-style: none;
    border-radius: 5px;
}

.address, .phone {
    border-style: hidden;
}

.address:hover, .phone:hover {
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 0.2px;
    border-radius: 5px;
}


